<activity android:name=".AuthActivity" android:exported="true">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>
<activity android:name=".EmailVerificationActivity" />
<activity android:name=".MainActivity" />
<activity android:name=".ChatActivity" />
<activity android:name=".ProfileEditActivity" />
<activity android:name=".LoginActivity" />
<activity android:name=".RegisterActivity" />
